/* ===============================
   GLOBAL RESET
================================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===============================
   BODY
================================ */
body {
  height: 100vh;
  background: radial-gradient(circle at top, #e7e7e7, #8d8d8d);
  font-family: "Inter", "Segoe UI", Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eaeaea;
}

/* ===============================
   MAIN CONTAINER
================================ */
.container {
  width: 92%;
  max-width: 420px;
  padding: 24px;
  border-radius: 20px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;

  background: linear-gradient(#a9d8ff, #43a8fa);
  border: 1px solid #85c6fc;
  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.65),
    inset 0 1px 0 rgba(255, 255, 255, 0.03);
}

/* ===============================
   TITLE
================================ */
.title {
  grid-column: span 2;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  font-style:bold;
  letter-spacing: 0.8px;
  color: #000000;
  opacity: 0.95;
}

/* ===============================
   MENU BUTTON
================================ */
.menu-button {
  background: linear-gradient(180deg, #a9d8ff, #a2d5ff);
  border: 2px solid #85c6fc;
  border-radius: 16px;
  padding: 22px 14px;

  color: #000000;
  font-size: 14px;
  text-align: center;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  transition: all 0.25s ease;
}

/* ===============================
   HOVER & ACTIVE STATE
================================ */
.menu-button:hover {
  background: linear-gradient(180deg,  #c6e3fac0, #afdbffb6);
  border-color: #85c6fc;
  transform: translateY(-3px);
}

.menu-button:active {
  transform: scale(0.96);
}

/* ===============================
   ICON STYLE
================================ */
.menu-button svg {
  width: 28px;
  height: 28px;
  stroke: #000000;
  stroke-width: 2;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  opacity: 0.9;
}

/* ===============================
   RESPONSIVE
================================ */
@media (max-width: 360px) {
  .container {
    gap: 14px;
    padding: 20px;
  }

  .menu-button {
    padding: 18px 10px;
    font-size: 13px;
  }

  .menu-button svg {
    width: 24px;
    height: 24px;
  }
}
